/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
/* Mengatur gaya umum untuk body */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    // background-color: #333;
  }

  
  /* Mengatur gaya untuk komponen header */
//   app-header {
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 60px;
//     background-color: #333;
//     color: white;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     z-index: 1000;
//   }
    
  /* Mengatur gaya untuk komponen footer */
  app-tabs {
    position: fixed;
    bottom: 0;
    // left: 0;
    width: 100%;
    height: 60px;
    // background-color: #333;
    // color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

// @import "assets/scss/styles.scss";
